<section id="skills">
<h2>Skills</h2>
<ul>
  <li>Languages: Java, JavaScript, HTML5/CSS, Perl, Python, BASH, PHP, SQL, Z80 Assembly</li>
  <li>OS: Ubuntu, Redhat, MacOS, Windows</li>
  <li>Cloud: Amazon S3, Amazon EC2, Amazon SQS</li>
  <li>Misc: Apache2, Tomcat, node.js, Django, SVN, Git, MySQL, Spring, Freemarker</li> 
</ul>
</section>
<section id="employment">
<h2>Employment</h2>
<article>
<header>
<span class="title">Software Development Engineer II</span>
<span class="company">Amazon.com, Inc. (IMDb)</span>
<span class="date">May 2010 - November 2013</span>
</header>
<ul>
  <li>Architected a horizontally-scalable, distributed service using Java, S3, and EC2 to replace legacy perl code. Service clients include <a href="http://www.imdb.com/">imdb.com</a>, <a href="http://m.imdb.com/">m.imdb.com</a>, and all IMDb mobile applications.</li>
  <li>Substantially reduced advertising widget client-side latency by driving technical and organizational changes as team's "latency czar".</li>
  <li>Developed internal web tools using Java, Perl, AWS services, JavaScript and HTML5.</li>
  <li>Worked with product managers to develop new advertising products for consumer/mobile websites and android/iOS apps.
  <li>Moved the majority of team's codebase to continuous integration and deployment.</li>
  <li>Built web metrics to measure changes in latency/user behavior/etc in order to inform development decisions.</li>
</ul>
</article>
<article>
<header>
<span class="title">Senior Java Developer</span>
<span class="company">InstantService.com</span>
<span class="date">May 2008 - October 2009</span>
</header>
<ul>
  <li>Built a multithreaded server using Java to stream Agent availability data to IEX TotalView servers.</li>
  <li>Built a 2-way integration in Java to seamlessly merge agent availability states between InstantService agent clients and Avaya telephone switches in real time.</li>
</ul>
</article>
<article>
<header>
<span class="title">Java Technical Architect</span>
<span class="company">AT&amp;T Inc.</span>
<span class="date">November 2007 - May 2008</span>
</header>
<ul>
  <li>Refactored and extended an internal Java web application used to aggregate and report on discount data for 100,000+ corporate clients.</li>
</ul>
</article>
<article>
<header>
<span class="title">Java Developer</span>
<span class="company">Seek Incorporated</span>
<span class="date">January 2006 - November 2007</span>
</header>
<ul>
  <li>Founded SeekTheRush.com, a reservation and e-commerce portal for Pacific Northwest adventure outfitters. Responsible for all software development and infrastructure administration.</li>
  <li>Submitted patches to fix bugs in Apache Struts 2 and Apache Tiles 2.</li>
</ul>
</article>
<article>
<header>
<span class="title">Engineering Intern</span>
<span class="company">Google Inc</span>
<span class="date">Summer 2006</span>
</header>
<ul>
  <li>Implemented a WAN simulator using Netfilter/Iptables, BASH, and PHP for testing network applications over bad connections.</li>
  <li>Developed an automated system to monitor voice quality over POTS lines.</li>
</ul>
</article>
<article>
<header>
<span class="title">Java Developer</span>
<span class="company">EZShow LLC</span>
<span class="date">January 2006 - June 2006</span>
</header>
<ul>
  <li>Improved the security, reliability and feature set of e-commerce J2EE web applications.</li>
</ul>
</article>
<article>
<header>
<span class="title">Engineering Intern</span>
<span class="company">Google Inc</span>
<span class="date">Summer 2005</span>
</header>
<ul>
 <li>Assisted in an emergency expansion of the billing databases for Google Adwords by migrating and verifying the integrity of hundreds of thousands of customers' data using Python/SQL/Bash.</li>
 <li>Developed a Python framework to efficiently copy database entities between MySQL database instances based on foreign key relationships.</li>
</ul>
</article>
<article>
<header>
<span class="title">Test Engineer</span>
<span class="company">BEA Systems, Inc.</span>
<span class="date">May 2003 - June 2005</span>
</header>
<ul>
  <li>Developed automated test infrastructure using Apache Ant and Java.</li>
</ul>
</article>
</section>
<section id="additional">
<h2>Additional Experience</h2>
<ul>
  <li>Obtained CCNA (Cisco Certified Network Associate) certification in June of 2002.</li>
  <li>Helped build a 35ft tall playable rubik's cube. See <a href="http://www.miketyka.com/grooviks-cube/">miketyka.com/grooviks-cube</a>
  <li>Wrote highly-rated video games in Z80 Assembly. See <a href="http://www.ticalc.org/archives/files/authors/39/3971.html">ticalc.org/archives/files/authors/39/3971.html</a></li>
</ul>
</section>
<footer>
  <span class="alt">This resume is available at <a href="http://joepemberton.com/resume/">joepemberton.com/resume</a></span>
</footer>
