<h2>Resume</h2>

<p>
Hi! My name's Joe, and I work on <a href="https://aws.amazon.com/machine-learning/">Amazon Machine Learning</a>, where I lead a team that is bringing machine learning to the masses. I enjoy working with smart people on distributed, high-scale, service-oriented systems.
</p>

<h2>Places I've Worked</h2>

<div class="row-fluid">
    <h4 class="span8">Senior Software Development Engineer - Amazon.com</h4>
    <span class="span4">June 2014 - Present</span>
</div>
<ul class="job-desc">
    <li>Launched AWS Machine Learning. Technical lead of team that owns the web console, API layer, and realtime prediction service.</li>
    <li>Built a distributed mounting service to coordinate model assignments to realtime prediction hosts.</li>
    <li>Pioneered the use of continuous deployment in my group, resulting in a 20x increase in deployment frequency.</li>
    <li>Mentored junior engineers by providing thorough code reviews and design reviews.</li>
    <li>Authored 2,700 commits (1,082,764 lines of code added, 263,076 lines of code removed) in 27 months.</li>
</ul>

<div class="row-fluid">
    <h4 class="span8">Software Development Engineer II - Amazon.com</h4>
    <span class="span4">May 2010 - November 2013</span>
</div>
<ul class="job-desc">
  <li>Built a web service that serves over 500M requests per day and powers all advertising on IMDb's properties.</li>
  <li>Halved client-side ad latency by driving technical and organizational changes as team's "latency czar".</li>
  <li>Developed web applications for internal sales and design customers.</li>
  <li>Increased release frequency by moving to continuous integration and deployment.</li>
  <li>Enabled data-driven decision-making by instrumenting client code and collecting metrics.</li>
</ul>


<div class="row-fluid">
    <h4 class="span8">Senior Java Developer - InstantService.com</h4>
    <span class="span4">May 2008 - October 2009</span>
</div>
<ul class="job-desc">
  <li>Built custom software to integrate InstantService chat clients with telephony devices.</li>
</ul>

<div class="row-fluid">
    <h4 class="span8">Java Technical Architect - AT&amp;T</h4>
    <span class="span4">November 2007 - May 2008</span>
</div>
<ul class="job-desc">
  <li>Refactored and extended an application used to aggregate and report on discount data for 100,000+ corporate clients.</li>
</ul>

<div class="row-fluid">
    <h4 class="span8">Founder - seektherush.com</h4>
    <span class="span4">March 2007 - March 2008</span>
</div>
<ul class="job-desc">
  <li>Founded SeekTheRush.com, a reservation and e-commerce portal for Pacific Northwest adventure outfitters. Responsible for all software development and infrastructure administration.</li>
  <li>Submitted patches to fix bugs in Apache Struts 2 and Apache Tiles 2.</li>
</ul>

<div class="row-fluid">
    <h4 class="span8">Engineering Intern - Google</h4>
    <span class="span4">Summer 2006</span>
</div>
<ul class="job-desc">
  <li>Built a simulator for testing applications over varying network conditions.</li>
  <li>Developed an automated system to monitor voice quality over POTS lines.</li>
</ul>

<div class="row-fluid">
    <h4 class="span8">Java Developer - EZShow LLC</h4>
    <span class="span4">January 2006 - June 2006</span>
</div>
<ul class="job-desc">
  <li>Improved the security, reliability and feature set of e-commerce J2EE web applications.</li>
</ul>

<div class="row-fluid">
    <h4 class="span8">Engineering Intern - Google</h4>
    <span class="span4">Summer 2005</span>
</div>
<ul class="job-desc">
 <li>Developed a Python framework to efficiently copy transitive database entities between MySQL instances.</li>
 <li>Assisted in an emergency expansion of the billing databases for Google Adwords.</li>
</ul>

<div class="row-fluid">
    <h4 class="span8">Test Engineer - BEA Systems, Inc</h4>
    <span class="span4">May 2003 - June 2005</span>
</div>
<ul class="job-desc">
  <li>Developed automated test infrastructure using Apache Ant and Java.</li>
</ul>

<h2>Languages I Am Pretty Good At</h2>
<p>Java, JavaScript, Python, HTML/CSS, Bash, Z80 Assembly.</p>

<h2>Other Stuff</h2>
<ul>
  <li>Obtained CCNA (Cisco Certified Network Associate) certification in June of 2002.</li>
  <li>Wrote highly-rated video games in Z80 Assembly. See <a href="http://www.ticalc.org/archives/files/authors/39/3971.html">ticalc.org/archives/files/authors/39/3971.html</a></li>
</ul>

<footer>
  <span class="alt">This resume is available at <a href="http://joepemberton.com/resume/">joepemberton.com/resume</a></span>
</footer>
