<h2>Resume</h2>

<h4>
Hi! My name's Joe, and I've been making computers do new things for a while now.
</h4>
<p>
I work on <a href="https://aws.amazon.com/machine-learning/">Amazon Machine Learning</a>, where I lead a team that is bringing machine learning to the masses. I enjoy working on distributed, high-scale systems.
</p>

<h2>Places I've Worked</h2>

<h4>Senior Software Development Engineer - Amazon.com</h4>
<span class="date">June 2014 - Present</span>
<ul>
    <li>Technical lead for the team that owns the AWS Machine Learning web console, frontend API layer, and realtime prediction service.</li>
    <li>Architected and implemented critical components of AWS Machine Learning.</li>
    <li>Worked with product management to scope large projects and prioritize work.</li>
    <li>Submitted 673 code reviews spanning 1,398 git commits and 100 software packages over the course of one year. Put another way, I submitted 2.61 times more code reviews than the next most active developer in my group, and 4.74 times more than my group's average.</li>
    <li>Reduced my team's commit-to-prod time from an average of several weeks to as little as one day through the use of continuous deployment.</li>
    <li>Provided technical mentorship to junior SDEs.</li>
</ul>

<h4>Software Development Engineer II - Amazon.com</h4>
<span class="date">May 2010 - November 2013</span>
<ul>
  <li>Architected a horizontally-scalable, distributed web service using Java, S3, and EC2. Service clients include <a href="http://www.imdb.com/">imdb.com</a>, <a href="http://m.imdb.com/">m.imdb.com</a>, and IMDb mobile applications.</li>
  <li>Reduced advertising widget client-side latency by driving technical and organizational changes as team's "latency czar".</li>
  <li>Developed internal web tools using Java, Perl, AWS services, JavaScript and HTML5.</li>
  <li>Worked with product managers to develop new advertising products for consumer/mobile websites and android/iOS apps.
  <li>Moved the majority of team's codebase to continuous integration and deployment.</li>
  <li>Built web metrics to measure changes in latency/user behavior/etc in order to inform development decisions.</li>
</ul>


<h4>Senior Java Developer - InstantService.com</h4>
<span class="date">May 2008 - October 2009</span>
<ul>
  <li>Built a multithreaded server using Java to stream Agent availability data to IEX TotalView servers.</li>
  <li>Built a 2-way integration in Java to seamlessly merge agent availability states between InstantService agent clients and Avaya telephone switches in real time.</li>
</ul>

<h4>Java Technical Architect - AT&amp;T</h4>
<span class="date">November 2007 - May 2008</span>
<ul>
  <li>Refactored and extended an internal Java web application used to aggregate and report on discount data for 100,000+ corporate clients.</li>
</ul>

<h4>Founder - seektherush.com</h4>
<ul>
  <li>Founded SeekTheRush.com, a reservation and e-commerce portal for Pacific Northwest adventure outfitters. Responsible for all software development and infrastructure administration.</li>
  <li>Submitted patches to fix bugs in Apache Struts 2 and Apache Tiles 2.</li>
</ul>

<h4>Engineering Intern - Google</h4>
<span class="date">Summer 2006</span>
<ul>
  <li>Implemented a WAN simulator using Netfilter/Iptables, BASH, and PHP for testing applications over varying network conditions.</li>
  <li>Developed an automated system to monitor voice quality over POTS lines.</li>
</ul>

<h4>Java Developer - EZShow LLC</h4>
<span class="date">January 2006 - June 2006</span>
<ul>
  <li>Improved the security, reliability and feature set of e-commerce J2EE web applications.</li>
</ul>

<h4>Engineering Intern - Google</h4>
<span class="date">Summer 2005</span>
<ul>
 <li>Developed a Python framework to efficiently copy transitive database entities between MySQL instances.</li>
 <li>Assisted in an emergency expansion of the billing databases for Google Adwords.</li>.
</ul>


<h4>Test Engineer - BEA Systems, Inc</h4>
<span class="date">May 2003 - June 2005</span>
<ul>
  <li>Developed automated test infrastructure using Apache Ant and Java.</li>
</ul>

<h2>Languages I Like</h2>
<p>
Java, JavaScript, HTML5/CSS, Python, Bash, Z80 Assembly.
</p>

<h2>Languages I Dislike</h2>
<p>
Perl, PHP, SQL
</p>

<h2>Other stuff</h2>
<ul>
  <li>Obtained CCNA (Cisco Certified Network Associate) certification in June of 2002.</li>
  <li>Helped build a 35ft tall playable rubik's cube. See <a href="http://www.miketyka.com/grooviks-cube/">miketyka.com/grooviks-cube</a>
  <li>Wrote highly-rated video games in Z80 Assembly. See <a href="http://www.ticalc.org/archives/files/authors/39/3971.html">ticalc.org/archives/files/authors/39/3971.html</a></li>
</ul>

<footer>
  <span class="alt">This resume is available at <a href="http://joepemberton.com/resume/">joepemberton.com/resume</a></span>
</footer>
